.p {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.p-texts {
    width: 65%;
}

.p-title {
    font-size: 50px;
    font-weight: 600;
}

.p-desc {
    margin: 20px 0px;
}

.p-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.p-texts ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.p-menu {
    font-size: 14px;
    margin-right: 50px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
}

.p-menu.active {
    background-color: var(--sub-font-color);
    color: white;
}


@media screen and (max-width: 480px) {


    .p-title {
        font-size: 35px;
    }

    .p-texts {
        width: 100%;
    }

    .p-desc {
        display: none;
    }

    .portfolioList {
        margin-right: 20px;
    }

    .p-menu{
        margin: 0 20px;
    }

    .p-texts ul {
        flex-wrap: wrap;
    }
}