.c {
    width: 30%;
    height: 40vh;
    margin: 20px 10px;
    border: 2px solid var(--head-browser-color);
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}

.c-browser {
    height: 20px;
    background-color: var(--head-browser-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    position: sticky;
    z-index: 2;
    overflow: hidden;
}

.c-circles {
    display: flex;
    align-items: center;
    flex-shrink: 0;

}

.c-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 3px;
    background-color: white;
}

.c-title {
    flex-shrink: 0;
    margin-right: 5%;
    font-size: 100%;

}


.c-img {
    width: 100%;
    object-fit: cover;
}


@media screen and (max-width: 480px) {
    .c {
        width: 40%;
        height: 20vh;
    }

    .c-title {
        font-size: 10px;
    }

}